<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".activity.login.LoginActivity"></activity>
        <activity android:name=".activity.register.RegisterActivity"></activity>
        <activity android:name=".activity.find.FindPasswordActivity"></activity>
        <!--修改密码-->
        <activity android:name=".activity.change.ChangePasswordActivity"></activity>
        <!--用户信息-->
        <activity android:name=".activity.user_info.UserInfoActivity"></activity>
        <!--实名认证-->
        <activity android:name=".activity.real_name.RealNameActivity"></activity>
        <activity android:name=".activity.login.TestActivity"></activity>

    </application>
</manifest>
